In [29]:
import pandas as pd

Cleaning of merged weather and trips files followed by feature creation for modelling.

In [30]:
df = pd.read_csv('/Users/rebeccadillon/git/dublin-bus-team-5/machinelearning/data/merged_weather_trips.csv', parse_dates=['DAYOFSERVICE'])

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688807 entries, 0 to 688806
Data columns (total 27 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   DAYOFSERVICE         688807 non-null  datetime64[ns]
 1   TRIPID               688807 non-null  int64
 2   LINEID               688807 non-null  object
 3   ROUTEID              688807 non-null  object
 4   DIRECTION            688807 non-null  int64
 5   PLANNEDTIME_ARR      688807 non-null  float64
 6   PLANNEDTIME_DEP      688807 non-null  float64
 7   ACTUALTIME_ARR       688807 non-null  float64
 8   ACTUALTIME_DEP       688807 non-null  float64
 9   HOUR                 688807 non-null  int64
 10  temp                 688807 non-null  float64
 11  dew_point            688807 non-null  float64
 12  feels_like           688807 non-null  float64
 13  temp_min             688807 non-null  float64
 14  temp_max             688807 non-null  float64
 15  pressure             688807 non-null  int64
 16  humidity             688807 non-null  int64
 17  wind_speed           688807 non-null  float64
 18  wind_deg             688807 non-null  int64
 19  rain_1h              688807 non-null  float64
 20  snow_1h              688807 non-null  float64
 21  clouds_all           688807 non-null  int64
 22  weather_id           688807 non-null  int64
 23  weather_main         688807 non-null  object
 24  weather_description  688807 non-null  object
 25  snow_ice             688807 non-null  int64
 26  heavy_precip         688807 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(10), object(4)
memory usage: 141.9+ MB

In [32]:
df['TRIPTIME'] = df['ACTUALTIME_ARR']-df['ACTUALTIME_DEP']

Create weekday column

In [33]:
# create weekday column
df['WEEKDAY'] = df['DAYOFSERVICE'].dt.weekday

In [34]:
df['DAYOFSERVICE'].unique()

array(['2018-02-07T00:00:00.000000000', '2018-02-18T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-27T00:00:00.000000000',
       '2018-03-11T00:00:00.000000000', '2018-09-28T00:00:00.000000000',
       '2018-09-26T00:00:00.000000000', '2018-06-26T00:00:00.000000000',
       '2018-06-21T00:00:00.000000000', '2018-10-10T00:00:00.000000000',
       '2018-10-11T00:00:00.000000000', '2018-04-11T00:00:00.000000000',
       '2018-03-10T00:00:00.000000000', '2018-09-20T00:00:00.000000000',
       '2018-09-29T00:00:00.000000000', '2018-06-22T00:00:00.000000000',
       '2018-12-31T00:00:00.000000000', '2018-07-07T00:00:00.000000000',
       '2018-07-08T00:00:00.000000000', '2018-09-24T00:00:00.000000000',
       '2018-12-02T00:00:00.000000000', '2018-07-09T00:00:00.000000000',
       '2018-06-15T00:00:00.000000000', '2018-10-16T00:00:00.000000000',
       '2018-04-10T00:00:00.000000000', '2018-07-04T00:00:00.000000000',
       '2018-04-12T00:00:00.000000000', '2018-12-30T00:00:00.000000000',
       '2018-04-09T00:00:00.000000000', '2018-02-16T00:00:00.000000000',
       '2018-02-21T00:00:00.000000000', '2018-02-03T00:00:00.000000000',
       '2018-02-12T00:00:00.000000000', '2018-02-04T00:00:00.000000000',
       '2018-03-22T00:00:00.000000000', '2018-07-10T00:00:00.000000000',
       '2018-04-20T00:00:00.000000000', '2018-06-19T00:00:00.000000000',
       '2018-04-16T00:00:00.000000000', '2018-02-08T00:00:00.000000000',
       '2018-10-28T00:00:00.000000000', '2018-10-22T00:00:00.000000000',
       '2018-02-17T00:00:00.000000000', '2018-12-29T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-03-23T00:00:00.000000000',
       '2018-07-11T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-01-09T00:00:00.000000000', '2018-01-14T00:00:00.000000000',
       '2018-04-29T00:00:00.000000000', '2018-09-30T00:00:00.000000000',
       '2018-06-20T00:00:00.000000000', '2018-01-12T00:00:00.000000000',
       '2018-01-15T00:00:00.000000000', '2018-12-27T00:00:00.000000000',
       '2018-02-06T00:00:00.000000000', '2018-03-25T00:00:00.000000000',
       '2018-10-12T00:00:00.000000000', '2018-03-19T00:00:00.000000000',
       '2018-02-13T00:00:00.000000000', '2018-02-15T00:00:00.000000000',
       '2018-09-19T00:00:00.000000000', '2018-01-13T00:00:00.000000000',
       '2018-12-24T00:00:00.000000000', '2018-12-28T00:00:00.000000000',
       '2018-06-16T00:00:00.000000000', '2018-04-24T00:00:00.000000000',
       '2018-04-23T00:00:00.000000000', '2018-01-10T00:00:00.000000000',
       '2018-03-31T00:00:00.000000000', '2018-03-20T00:00:00.000000000',
       '2018-05-31T00:00:00.000000000', '2018-04-14T00:00:00.000000000',
       '2018-05-24T00:00:00.000000000', '2018-09-25T00:00:00.000000000',
       '2018-03-03T00:00:00.000000000', '2018-09-06T00:00:00.000000000',
       '2018-03-06T00:00:00.000000000', '2018-07-30T00:00:00.000000000',
       '2018-07-31T00:00:00.000000000', '2018-03-08T00:00:00.000000000',
       '2018-03-24T00:00:00.000000000', '2018-04-13T00:00:00.000000000',
       '2018-05-30T00:00:00.000000000', '2018-05-29T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2018-03-13T00:00:00.000000000',
       '2018-09-13T00:00:00.000000000', '2018-09-18T00:00:00.000000000',
       '2018-06-25T00:00:00.000000000', '2018-07-03T00:00:00.000000000',
       '2018-09-09T00:00:00.000000000', '2018-08-19T00:00:00.000000000',
       '2018-03-17T00:00:00.000000000', '2018-03-14T00:00:00.000000000',
       '2018-01-06T00:00:00.000000000', '2018-06-28T00:00:00.000000000',
       '2018-06-17T00:00:00.000000000', '2018-05-28T00:00:00.000000000',
       '2018-05-23T00:00:00.000000000', '2018-05-22T00:00:00.000000000',
       '2018-08-27T00:00:00.000000000', '2018-01-05T00:00:00.000000000',
       '2018-08-31T00:00:00.000000000', '2018-08-24T00:00:00.000000000',
       '2018-08-25T00:00:00.000000000', '2018-08-28T00:00:00.000000000',
       '2018-07-01T00:00:00.000000000', '2018-07-05T00:00:00.000000000',
       '2018-03-04T00:00:00.000000000', '2018-06-18T00:00:00.000000000',
       '2018-05-26T00:00:00.000000000', '2018-08-09T00:00:00.000000000',
       '2018-02-02T00:00:00.000000000', '2018-01-08T00:00:00.000000000',
       '2018-01-11T00:00:00.000000000', '2018-08-30T00:00:00.000000000',
       '2018-04-18T00:00:00.000000000', '2018-05-25T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2018-03-07T00:00:00.000000000',
       '2018-07-06T00:00:00.000000000', '2018-02-05T00:00:00.000000000',
       '2018-08-26T00:00:00.000000000', '2018-08-29T00:00:00.000000000',
       '2018-04-26T00:00:00.000000000', '2018-04-30T00:00:00.000000000',
       '2018-05-16T00:00:00.000000000', '2018-05-12T00:00:00.000000000',
       '2018-09-10T00:00:00.000000000', '2018-06-24T00:00:00.000000000',
       '2018-06-06T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-10-09T00:00:00.000000000', '2018-05-09T00:00:00.000000000',
       '2018-07-12T00:00:00.000000000', '2018-07-02T00:00:00.000000000',
       '2018-10-03T00:00:00.000000000', '2018-05-20T00:00:00.000000000',
       '2018-09-12T00:00:00.000000000', '2018-09-22T00:00:00.000000000',
       '2018-09-21T00:00:00.000000000', '2018-06-05T00:00:00.000000000',
       '2018-05-19T00:00:00.000000000', '2018-05-21T00:00:00.000000000',
       '2018-08-05T00:00:00.000000000', '2018-08-04T00:00:00.000000000',
       '2018-07-25T00:00:00.000000000', '2018-07-24T00:00:00.000000000',
       '2018-10-04T00:00:00.000000000', '2018-10-02T00:00:00.000000000',
       '2018-06-03T00:00:00.000000000', '2018-06-02T00:00:00.000000000',
       '2018-08-03T00:00:00.000000000', '2018-07-27T00:00:00.000000000',
       '2018-07-28T00:00:00.000000000', '2018-12-26T00:00:00.000000000',
       '2018-10-05T00:00:00.000000000', '2018-09-11T00:00:00.000000000',
       '2018-09-15T00:00:00.000000000', '2018-06-08T00:00:00.000000000',
       '2018-06-07T00:00:00.000000000', '2018-10-06T00:00:00.000000000',
       '2018-04-21T00:00:00.000000000', '2018-08-15T00:00:00.000000000',
       '2018-06-04T00:00:00.000000000', '2018-07-26T00:00:00.000000000',
       '2018-12-23T00:00:00.000000000', '2018-07-29T00:00:00.000000000',
       '2018-06-23T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-01-23T00:00:00.000000000', '2018-10-08T00:00:00.000000000',
       '2018-10-07T00:00:00.000000000', '2018-08-11T00:00:00.000000000',
       '2018-09-17T00:00:00.000000000', '2018-05-17T00:00:00.000000000',
       '2018-03-30T00:00:00.000000000', '2018-03-29T00:00:00.000000000',
       '2018-11-13T00:00:00.000000000', '2018-03-28T00:00:00.000000000',
       '2018-06-29T00:00:00.000000000', '2018-01-17T00:00:00.000000000',
       '2018-06-27T00:00:00.000000000', '2018-10-27T00:00:00.000000000',
       '2018-10-25T00:00:00.000000000', '2018-11-15T00:00:00.000000000',
       '2018-12-06T00:00:00.000000000', '2018-11-08T00:00:00.000000000',
       '2018-08-14T00:00:00.000000000', '2018-08-10T00:00:00.000000000',
       '2018-01-16T00:00:00.000000000', '2018-01-19T00:00:00.000000000',
       '2018-09-14T00:00:00.000000000', '2018-02-28T00:00:00.000000000',
       '2018-11-11T00:00:00.000000000', '2018-11-12T00:00:00.000000000',
       '2018-10-26T00:00:00.000000000', '2018-10-31T00:00:00.000000000',
       '2018-02-14T00:00:00.000000000', '2018-12-03T00:00:00.000000000',
       '2018-01-25T00:00:00.000000000', '2018-08-08T00:00:00.000000000',
       '2018-08-12T00:00:00.000000000', '2018-08-13T00:00:00.000000000',
       '2018-02-27T00:00:00.000000000', '2018-02-26T00:00:00.000000000',
       '2018-01-24T00:00:00.000000000', '2018-09-23T00:00:00.000000000',
       '2018-12-13T00:00:00.000000000', '2018-10-15T00:00:00.000000000',
       '2018-10-13T00:00:00.000000000', '2018-11-05T00:00:00.000000000',
       '2018-11-06T00:00:00.000000000', '2018-12-17T00:00:00.000000000',
       '2018-12-11T00:00:00.000000000', '2018-02-23T00:00:00.000000000',
       '2018-11-09T00:00:00.000000000', '2018-09-27T00:00:00.000000000',
       '2018-10-29T00:00:00.000000000', '2018-12-14T00:00:00.000000000',
       '2018-01-29T00:00:00.000000000', '2018-08-06T00:00:00.000000000',
       '2018-04-25T00:00:00.000000000', '2018-12-21T00:00:00.000000000',
       '2018-08-07T00:00:00.000000000', '2018-12-20T00:00:00.000000000',
       '2018-10-23T00:00:00.000000000', '2018-10-24T00:00:00.000000000',
       '2018-04-27T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
       '2018-09-07T00:00:00.000000000', '2018-12-22T00:00:00.000000000',
       '2018-01-03T00:00:00.000000000', '2018-02-19T00:00:00.000000000',
       '2018-01-31T00:00:00.000000000', '2018-12-19T00:00:00.000000000',
       '2018-04-17T00:00:00.000000000', '2018-10-20T00:00:00.000000000',
       '2018-01-04T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2018-03-21T00:00:00.000000000', '2018-03-18T00:00:00.000000000',
       '2018-10-19T00:00:00.000000000', '2018-04-08T00:00:00.000000000',
       '2018-02-22T00:00:00.000000000', '2018-05-06T00:00:00.000000000',
       '2018-05-02T00:00:00.000000000', '2018-04-06T00:00:00.000000000',
       '2018-11-23T00:00:00.000000000', '2018-12-15T00:00:00.000000000',
       '2018-11-17T00:00:00.000000000', '2018-05-05T00:00:00.000000000',
       '2018-07-23T00:00:00.000000000'], dtype='datetime64[ns]')

In [35]:
df['WEEKDAY'].unique()

array([2, 6, 4, 1, 3, 5, 0])

Create month column

In [36]:
df['MONTH'] = df['DAYOFSERVICE'].dt.month
df['MONTH'].unique()

array([ 2,  3,  9,  6, 10,  4, 12,  7,  1,  5,  8, 11])

In [37]:
df.head()

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,HOUR,...,snow_1h,clouds_all,weather_id,weather_main,weather_description,snow_ice,heavy_precip,TRIPTIME,WEEKDAY,MONTH
0,2018-02-07,6253783,68,68_80,1,87245.0,84600.0,87524.0,84600.0,23,...,0.0,75,300,Drizzle,light intensity drizzle,0,0,2924.0,2,2
1,2018-02-07,6259641,59,59_10,1,84864.0,84000.0,84890.0,84076.0,23,...,0.0,75,300,Drizzle,light intensity drizzle,0,0,814.0,2,2
2,2018-02-07,6255896,130,130_11,2,83706.0,82500.0,84193.0,82852.0,23,...,0.0,75,300,Drizzle,light intensity drizzle,0,0,1341.0,2,2
3,2018-02-07,6261627,1,1_41,2,85557.0,84600.0,85866.0,84628.0,23,...,0.0,75,300,Drizzle,light intensity drizzle,0,0,1238.0,2,2
4,2018-02-07,6248587,45A,45A_64,2,86338.0,84000.0,86283.0,84005.0,23,...,0.0,75,300,Drizzle,light intensity drizzle,0,0,2278.0,2,2

Create rushhour column with values 0 (hours outside of rushour) and 1 (values inside rushhour i.e., hour value of 6-9 and 15-18)

In [38]:
df['HOUR'].unique()

array([23,  8, 15, 22, 10, 13, 11, 16,  9, 19, 12,  6, 17,  5, 18, 14, 20,
        7, 21,  0,  4])

In [39]:
# code from https://stackoverflow.com/questions/70755998/dataframe-isin-for-integers

condition_rushhour = df['HOUR'].isin([6,7,8,9,15,16,17,18])
df['RUSHHOUR'] = (condition_rushhour).astype(int)

In [40]:
df

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,HOUR,...,clouds_all,weather_id,weather_main,weather_description,snow_ice,heavy_precip,TRIPTIME,WEEKDAY,MONTH,RUSHHOUR
0,2018-02-07,6253783,68,68_80,1,87245.0,84600.0,87524.0,84600.0,23,...,75,300,Drizzle,light intensity drizzle,0,0,2924.0,2,2,0
1,2018-02-07,6259641,59,59_10,1,84864.0,84000.0,84890.0,84076.0,23,...,75,300,Drizzle,light intensity drizzle,0,0,814.0,2,2,0
2,2018-02-07,6255896,130,130_11,2,83706.0,82500.0,84193.0,82852.0,23,...,75,300,Drizzle,light intensity drizzle,0,0,1341.0,2,2,0
3,2018-02-07,6261627,1,1_41,2,85557.0,84600.0,85866.0,84628.0,23,...,75,300,Drizzle,light intensity drizzle,0,0,1238.0,2,2,0
4,2018-02-07,6248587,45A,45A_64,2,86338.0,84000.0,86283.0,84005.0,23,...,75,300,Drizzle,light intensity drizzle,0,0,2278.0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688802,2018-06-30,7106078,79A,79A_28,2,46169.0,43800.0,46662.0,43929.0,12,...,20,801,Clouds,few clouds,0,0,2733.0,5,6,0
688803,2018-06-30,7105090,25A,25A_273,1,48040.0,45120.0,48257.0,45074.0,12,...,20,801,Clouds,few clouds,0,0,3183.0,5,6,0
688804,2018-06-30,7112353,25A,25A_273,1,46240.0,43320.0,46503.0,43407.0,12,...,20,801,Clouds,few clouds,0,0,3096.0,5,6,0
688805,2018-06-30,7105149,238,238_15,2,45496.0,44100.0,45639.0,44084.0,12,...,20,801,Clouds,few clouds,0,0,1555.0,5,6,0
688806,2018-06-30,7111095,27,27_19,1,23312.0,19800.0,23402.0,19798.0,5,...,0,800,Clear,sky is clear,0,0,3604.0,5,6,0

#### Drop unnecessary columns
We can now drop the following columns from the dataframe as they provide no additional information or the information required has been extracted from them.
* DAYOFSERVICE
* ACTUALTIME_ARR
* ACTUALTIME_DEP

In [41]:
# drop unnecessary columns
df.drop(columns=['DAYOFSERVICE','ACTUALTIME_ARR','ACTUALTIME_DEP'], inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688807 entries, 0 to 688806
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TRIPID               688807 non-null  int64
 1   LINEID               688807 non-null  object
 2   ROUTEID              688807 non-null  object
 3   DIRECTION            688807 non-null  int64
 4   PLANNEDTIME_ARR      688807 non-null  float64
 5   PLANNEDTIME_DEP      688807 non-null  float64
 6   HOUR                 688807 non-null  int64
 7   temp                 688807 non-null  float64
 8   dew_point            688807 non-null  float64
 9   feels_like           688807 non-null  float64
 10  temp_min             688807 non-null  float64
 11  temp_max             688807 non-null  float64
 12  pressure             688807 non-null  int64
 13  humidity             688807 non-null  int64
 14  wind_speed           688807 non-null  float64
 15  wind_deg             688807 non-null  int64
 16  rain_1h              688807 non-null  float64
 17  snow_1h              688807 non-null  float64
 18  clouds_all           688807 non-null  int64
 19  weather_id           688807 non-null  int64
 20  weather_main         688807 non-null  object
 21  weather_description  688807 non-null  object
 22  snow_ice             688807 non-null  int64
 23  heavy_precip         688807 non-null  int64
 24  TRIPTIME             688807 non-null  float64
 25  WEEKDAY              688807 non-null  int64
 26  MONTH                688807 non-null  int64
 27  RUSHHOUR             688807 non-null  int64
dtypes: float64(11), int64(13), object(4)
memory usage: 147.1+ MB

## Review and prep

In [43]:
df.isna().sum()

TRIPID                 0
LINEID                 0
ROUTEID                0
DIRECTION              0
PLANNEDTIME_ARR        0
PLANNEDTIME_DEP        0
HOUR                   0
temp                   0
dew_point              0
feels_like             0
temp_min               0
temp_max               0
pressure               0
humidity               0
wind_speed             0
wind_deg               0
rain_1h                0
snow_1h                0
clouds_all             0
weather_id             0
weather_main           0
weather_description    0
snow_ice               0
heavy_precip           0
TRIPTIME               0
WEEKDAY                0
MONTH                  0
RUSHHOUR               0
dtype: int64

In [44]:
df.dtypes

TRIPID                   int64
LINEID                  object
ROUTEID                 object
DIRECTION                int64
PLANNEDTIME_ARR        float64
PLANNEDTIME_DEP        float64
HOUR                     int64
temp                   float64
dew_point              float64
feels_like             float64
temp_min               float64
temp_max               float64
pressure                 int64
humidity                 int64
wind_speed             float64
wind_deg                 int64
rain_1h                float64
snow_1h                float64
clouds_all               int64
weather_id               int64
weather_main            object
weather_description     object
snow_ice                 int64
heavy_precip             int64
TRIPTIME               float64
WEEKDAY                  int64
MONTH                    int64
RUSHHOUR                 int64
dtype: object

In [45]:
categorical_cols = df.select_dtypes(['object']).columns
categorical_cols = categorical_cols.append(df[['weather_id','snow_ice','heavy_precip','HOUR','TRIPID', 'DIRECTION', 'WEEKDAY', 'MONTH', 'RUSHHOUR']].columns)
# convert columns in the list to categorical columns
for col in categorical_cols:
    df[col] = df[col].astype('category')
df.dtypes

TRIPID                 category
LINEID                 category
ROUTEID                category
DIRECTION              category
PLANNEDTIME_ARR         float64
PLANNEDTIME_DEP         float64
HOUR                   category
temp                    float64
dew_point               float64
feels_like              float64
temp_min                float64
temp_max                float64
pressure                  int64
humidity                  int64
wind_speed              float64
wind_deg                  int64
rain_1h                 float64
snow_1h                 float64
clouds_all                int64
weather_id             category
weather_main           category
weather_description    category
snow_ice               category
heavy_precip           category
TRIPTIME                float64
WEEKDAY                category
MONTH                  category
RUSHHOUR               category
dtype: object

In [46]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PLANNEDTIME_ARR,688807.0,54866.565828,17247.274901,18403.00,39773.00,54855.00,68639.00,91680.00
PLANNEDTIME_DEP,688807.0,51360.673077,17396.657929,16200.00,36000.00,51300.00,64800.00,87600.00
temp,688807.0,11.320411,5.583066,-4.61,7.39,11.39,15.39,26.39
dew_point,688807.0,6.952680,4.530064,-7.99,4.05,7.32,10.24,19.36
feels_like,688807.0,9.568320,6.994462,-10.61,3.84,10.31,14.97,26.39
temp_min,688807.0,11.037456,5.608537,-4.63,7.05,10.53,15.37,26.37
temp_max,688807.0,11.907503,5.711279,-3.43,7.57,11.57,16.41,27.57
pressure,688807.0,1013.231679,12.129118,979.00,1005.00,1015.00,1023.00,1041.00
humidity,688807.0,76.028159,14.027873,25.00,67.00,77.00,87.00,100.00
wind_speed,688807.0,5.290695,2.646226,0.00,3.60,5.10,6.70,18.50
wind_deg,688807.0,187.165595,88.839943,0.00,130.00,210.00,250.00,360.00
rain_1h,688807.0,0.073178,0.234905,0.00,0.00,0.00,0.00,3.44
snow_1h,688807.0,0.000726,0.013457,0.00,0.00,0.00,0.00,0.53
clouds_all,688807.0,58.240567,25.441402,0.00,40.00,75.00,75.00,90.00
TRIPTIME,688807.0,3838.710510,1431.415703,-7139.00,2789.00,3753.00,4826.00,17375.00

In [47]:
continuous_cols = df.select_dtypes(['float64', 'int64']).columns

In [48]:
df.duplicated().value_counts()

False    688807
dtype: int64

In [49]:
df.nunique()

TRIPID                 358392
LINEID                    130
ROUTEID                   583
DIRECTION                   2
PLANNEDTIME_ARR         62856
PLANNEDTIME_DEP           790
HOUR                       21
temp                      315
dew_point                 632
feels_like                849
temp_min                  186
temp_max                  220
pressure                   63
humidity                   73
wind_speed                 67
wind_deg                  139
rain_1h                   138
snow_1h                    20
clouds_all                  5
weather_id                 20
weather_main                8
weather_description        20
snow_ice                    2
heavy_precip                2
TRIPTIME                 8666
WEEKDAY                     7
MONTH                      12
RUSHHOUR                    2
dtype: int64

In [50]:
# check logical integrity of data
# Check for negative triptimes
negative_triptimes = list(df[df['TRIPTIME']<0]['TRIPID'])
len(negative_triptimes)

40

In [51]:
df = df.drop(df[df['TRIPTIME']<0].index)

In [55]:
df.reset_index(drop=True, inplace=True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688767 entries, 0 to 688766
Data columns (total 28 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TRIPID               688767 non-null  category
 1   LINEID               688767 non-null  category
 2   ROUTEID              688767 non-null  category
 3   DIRECTION            688767 non-null  category
 4   PLANNEDTIME_ARR      688767 non-null  float64
 5   PLANNEDTIME_DEP      688767 non-null  float64
 6   HOUR                 688767 non-null  category
 7   temp                 688767 non-null  float64
 8   dew_point            688767 non-null  float64
 9   feels_like           688767 non-null  float64
 10  temp_min             688767 non-null  float64
 11  temp_max             688767 non-null  float64
 12  pressure             688767 non-null  int64
 13  humidity             688767 non-null  int64
 14  wind_speed           688767 non-null  float64
 15  wind_deg             688767 non-null  int64
 16  rain_1h              688767 non-null  float64
 17  snow_1h              688767 non-null  float64
 18  clouds_all           688767 non-null  int64
 19  weather_id           688767 non-null  category
 20  weather_main         688767 non-null  category
 21  weather_description  688767 non-null  category
 22  snow_ice             688767 non-null  category
 23  heavy_precip         688767 non-null  category
 24  TRIPTIME             688767 non-null  float64
 25  WEEKDAY              688767 non-null  category
 26  MONTH                688767 non-null  category
 27  RUSHHOUR             688767 non-null  category
dtypes: category(13), float64(11), int64(4)
memory usage: 101.5 MB

In [57]:
df.to_csv('/Users/rebeccadillon/git/dublin-bus-team-5/machinelearning/data/cleaned/cleaned_merged_weather_trips.csv', index=False)