In [4]:
import pandas as pd

In [5]:
df_trips = pd.read_csv('/Users/rebeccadillon/git/dublin-bus-team-5/machinelearning/data/cleaned/dqp_trips_cleaned.csv', parse_dates=[0])

In [6]:
df_trips.shape

(1893367, 9)

In [7]:
df_w = pd.read_csv('/Users/rebeccadillon/git/dublin-bus-team-5/machinelearning/data/cleaned/dublin-weather-2018-cleaned-dqp.csv', parse_dates=[0])

In [8]:
# date columns in different format so going to split time into different column in weather df
df_w['DAYOFSERVICE'] = pd.to_datetime(df_w['dt_iso']).dt.date
df_w['HOUR'] = pd.to_datetime(df_w['dt_iso'], format="%H:%M:%S")

In [9]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9036 entries, 0 to 9035
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt_iso               9036 non-null   datetime64[ns]
 1   temp                 9036 non-null   float64
 2   dew_point            9036 non-null   float64
 3   feels_like           9036 non-null   float64
 4   temp_min             9036 non-null   float64
 5   temp_max             9036 non-null   float64
 6   pressure             9036 non-null   int64
 7   humidity             9036 non-null   int64
 8   wind_speed           9036 non-null   float64
 9   wind_deg             9036 non-null   int64
 10  rain_1h              9036 non-null   float64
 11  snow_1h              9036 non-null   float64
 12  clouds_all           9036 non-null   int64
 13  weather_id           9036 non-null   int64
 14  weather_main         9036 non-null   object
 15  weather_description  9036 non-null   object
 16  snow_ice             9036 non-null   int64
 17  heavy_precip         9036 non-null   int64
 18  DAYOFSERVICE         9036 non-null   object
 19  HOUR                 9036 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(8), int64(7), object(3)
memory usage: 1.4+ MB

In [10]:
# change DAYOFSERVICE and TIME to datetime64
df_w['DAYOFSERVICE'] = pd.to_datetime(df_w['DAYOFSERVICE'])
df_w['HOUR'] = pd.to_datetime(df_w['HOUR']).dt.hour

In [11]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9036 entries, 0 to 9035
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt_iso               9036 non-null   datetime64[ns]
 1   temp                 9036 non-null   float64
 2   dew_point            9036 non-null   float64
 3   feels_like           9036 non-null   float64
 4   temp_min             9036 non-null   float64
 5   temp_max             9036 non-null   float64
 6   pressure             9036 non-null   int64
 7   humidity             9036 non-null   int64
 8   wind_speed           9036 non-null   float64
 9   wind_deg             9036 non-null   int64
 10  rain_1h              9036 non-null   float64
 11  snow_1h              9036 non-null   float64
 12  clouds_all           9036 non-null   int64
 13  weather_id           9036 non-null   int64
 14  weather_main         9036 non-null   object
 15  weather_description  9036 non-null   object
 16  snow_ice             9036 non-null   int64
 17  heavy_precip         9036 non-null   int64
 18  DAYOFSERVICE         9036 non-null   datetime64[ns]
 19  HOUR                 9036 non-null   int64
dtypes: datetime64[ns](2), float64(8), int64(8), object(2)
memory usage: 1.4+ MB

In [12]:
# create new column with ACTUALTIME_DEP in datetime format
df_trips['ACTUALTIME_DEP_HMS'] = pd.to_datetime(df_trips['ACTUALTIME_DEP'], unit='s')

In [13]:
df_trips['HOUR'] = df_trips['ACTUALTIME_DEP_HMS'].dt.floor('h')

In [14]:
df_trips['HOUR'] = pd.to_datetime(df_trips['HOUR']).dt.hour

In [16]:
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893367 entries, 0 to 1893366
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   DAYOFSERVICE        datetime64[ns]
 1   TRIPID              int64
 2   LINEID              object
 3   ROUTEID             object
 4   DIRECTION           int64
 5   PLANNEDTIME_ARR     float64
 6   PLANNEDTIME_DEP     float64
 7   ACTUALTIME_ARR      float64
 8   ACTUALTIME_DEP      float64
 9   ACTUALTIME_DEP_HMS  datetime64[ns]
 10  HOUR                int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(2)
memory usage: 158.9+ MB

In [17]:
df_trips = df_trips.merge(df_w, on=['DAYOFSERVICE','HOUR'])

In [18]:
df_trips

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,ACTUALTIME_DEP_HMS,...,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,weather_id,weather_main,weather_description,snow_ice,heavy_precip
0,2018-02-07,6253783,68,68_80,1,87245.0,84600.0,87524.0,84600.0,1970-01-01 23:30:00,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
1,2018-02-07,6259641,59,59_10,1,84864.0,84000.0,84890.0,84076.0,1970-01-01 23:21:16,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
2,2018-02-07,6255896,130,130_11,2,83706.0,82500.0,84193.0,82852.0,1970-01-01 23:00:52,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
3,2018-02-07,6261627,1,1_41,2,85557.0,84600.0,85866.0,84628.0,1970-01-01 23:30:28,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
4,2018-02-07,6248587,45A,45A_64,2,86338.0,84000.0,86283.0,84005.0,1970-01-01 23:20:05,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953036,2018-05-27,6845502,68,68_66,2,88740.0,87000.0,89070.0,87535.0,1970-01-02 00:18:55,...,7.2,50,0.0,0.0,40,802,Clouds,scattered clouds,0,0
1953037,2018-05-27,6840975,66,66_17,1,28980.0,25500.0,28631.0,24393.0,1970-01-01 06:46:33,...,5.7,60,0.0,0.0,75,520,Rain,light intensity shower rain,0,0
1953038,2018-05-15,6767648,65,65_75,2,90847.0,87300.0,90702.0,87197.0,1970-01-02 00:13:17,...,2.1,150,0.0,0.0,75,803,Clouds,broken clouds,0,0
1953039,2018-05-15,6761211,68,68_66,2,89100.0,87300.0,88575.0,87247.0,1970-01-02 00:14:07,...,2.1,150,0.0,0.0,75,803,Clouds,broken clouds,0,0
1953040,2018-05-15,6761030,69,69_46,2,88591.0,86700.0,88285.0,86575.0,1970-01-02 00:02:55,...,2.1,150,0.0,0.0,75,803,Clouds,broken clouds,0,0

drop rows which appended multiple weather values to each trip/day of service/hour match as per Concept Design Extract which states these variables act as the primary key.

In [19]:
df_trips.drop_duplicates(subset=['TRIPID','HOUR','DAYOFSERVICE'], inplace=True)

In [20]:
# drop unnecessary columns
df_trips = df_trips.drop(columns=['ACTUALTIME_DEP_HMS', 'dt_iso'])

In [21]:
df_trips.reset_index(drop=True)

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,HOUR,...,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,weather_id,weather_main,weather_description,snow_ice,heavy_precip
0,2018-02-07,6253783,68,68_80,1,87245.0,84600.0,87524.0,84600.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
1,2018-02-07,6259641,59,59_10,1,84864.0,84000.0,84890.0,84076.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
2,2018-02-07,6255896,130,130_11,2,83706.0,82500.0,84193.0,82852.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
3,2018-02-07,6261627,1,1_41,2,85557.0,84600.0,85866.0,84628.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
4,2018-02-07,6248587,45A,45A_64,2,86338.0,84000.0,86283.0,84005.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890816,2018-05-27,6845502,68,68_66,2,88740.0,87000.0,89070.0,87535.0,0,...,7.2,50,0.0,0.0,40,802,Clouds,scattered clouds,0,0
1890817,2018-05-27,6840975,66,66_17,1,28980.0,25500.0,28631.0,24393.0,6,...,5.7,60,0.0,0.0,75,520,Rain,light intensity shower rain,0,0
1890818,2018-05-15,6767648,65,65_75,2,90847.0,87300.0,90702.0,87197.0,0,...,2.1,150,0.0,0.0,75,803,Clouds,broken clouds,0,0
1890819,2018-05-15,6761211,68,68_66,2,89100.0,87300.0,88575.0,87247.0,0,...,2.1,150,0.0,0.0,75,803,Clouds,broken clouds,0,0
1890820,2018-05-15,6761030,69,69_46,2,88591.0,86700.0,88285.0,86575.0,0,...,2.1,150,0.0,0.0,75,803,Clouds,broken clouds,0,0

In [22]:
df_trips.to_csv('/Users/rebeccadillon/git/dublin-bus-team-5/machinelearning/data/merged_weather_trips.csv', index=False)