In [187]:
import pandas as pd

In [188]:
df_trips = pd.read_csv('/Users/rebeccadillon/git/dublin-bus-team-5/machinelearning/data/cleaned/dqp_trips_cleaned.csv', parse_dates=[0])

In [189]:
df_w = pd.read_csv('/Users/rebeccadillon/git/dublin-bus-team-5/machinelearning/data/cleaned/dublin-weather-2018-cleaned-dqp.csv', parse_dates=[0])

In [190]:
# date columns in different format so going to split time into different column in weather df
df_w['DAYOFSERVICE'] = pd.to_datetime(df_w['dt_iso']).dt.date
df_w['HOUR'] = pd.to_datetime(df_w['dt_iso'], format="%H:%M:%S")

In [191]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9036 entries, 0 to 9035
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt_iso               9036 non-null   datetime64[ns]
 1   temp                 9036 non-null   float64
 2   dew_point            9036 non-null   float64
 3   feels_like           9036 non-null   float64
 4   temp_min             9036 non-null   float64
 5   temp_max             9036 non-null   float64
 6   pressure             9036 non-null   int64
 7   humidity             9036 non-null   int64
 8   wind_speed           9036 non-null   float64
 9   wind_deg             9036 non-null   int64
 10  rain_1h              9036 non-null   float64
 11  snow_1h              9036 non-null   float64
 12  clouds_all           9036 non-null   int64
 13  weather_id           9036 non-null   int64
 14  weather_main         9036 non-null   object
 15  weather_description  9036 non-null   object
 16  snow_ice             9036 non-null   int64
 17  heavy_precip         9036 non-null   int64
 18  DAYOFSERVICE         9036 non-null   object
 19  HOUR                 9036 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(8), int64(7), object(3)
memory usage: 1.4+ MB

In [192]:
# change DAYOFSERVICE and TIME to datetime64
df_w['DAYOFSERVICE'] = pd.to_datetime(df_w['DAYOFSERVICE'])
df_w['HOUR'] = pd.to_datetime(df_w['HOUR']).dt.hour

In [193]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9036 entries, 0 to 9035
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dt_iso               9036 non-null   datetime64[ns]
 1   temp                 9036 non-null   float64
 2   dew_point            9036 non-null   float64
 3   feels_like           9036 non-null   float64
 4   temp_min             9036 non-null   float64
 5   temp_max             9036 non-null   float64
 6   pressure             9036 non-null   int64
 7   humidity             9036 non-null   int64
 8   wind_speed           9036 non-null   float64
 9   wind_deg             9036 non-null   int64
 10  rain_1h              9036 non-null   float64
 11  snow_1h              9036 non-null   float64
 12  clouds_all           9036 non-null   int64
 13  weather_id           9036 non-null   int64
 14  weather_main         9036 non-null   object
 15  weather_description  9036 non-null   object
 16  snow_ice             9036 non-null   int64
 17  heavy_precip         9036 non-null   int64
 18  DAYOFSERVICE         9036 non-null   datetime64[ns]
 19  HOUR                 9036 non-null   int64
dtypes: datetime64[ns](2), float64(8), int64(8), object(2)
memory usage: 1.4+ MB

In [194]:
# create new column with ACTUALTIME_DEP in datetime format
df_trips['ACTUALTIME_DEP_HMS'] = pd.to_datetime(df_trips['ACTUALTIME_DEP'], unit='s')

In [195]:
df_trips['HOUR'] = df_trips['ACTUALTIME_DEP_HMS'].dt.floor('h')

In [196]:
df_trips['HOUR'] = pd.to_datetime(df_trips['HOUR']).dt.hour

In [197]:
df_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688882 entries, 0 to 688881
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   DAYOFSERVICE        688882 non-null  datetime64[ns]
 1   TRIPID              688882 non-null  int64
 2   LINEID              688882 non-null  object
 3   ROUTEID             688882 non-null  object
 4   DIRECTION           688882 non-null  int64
 5   PLANNEDTIME_ARR     688882 non-null  float64
 6   PLANNEDTIME_DEP     688882 non-null  float64
 7   ACTUALTIME_ARR      688882 non-null  float64
 8   ACTUALTIME_DEP      688882 non-null  float64
 9   ACTUALTIME_DEP_HMS  688882 non-null  datetime64[ns]
 10  HOUR                688882 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(2)
memory usage: 57.8+ MB

In [198]:
df_trips = df_trips.merge(df_w, on=['DAYOFSERVICE','HOUR'])

In [199]:
df_trips

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,ACTUALTIME_DEP_HMS,...,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,weather_id,weather_main,weather_description,snow_ice,heavy_precip
0,2018-02-07,6253783,68,68_80,1,87245.0,84600.0,87524.0,84600.0,1970-01-01 23:30:00,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
1,2018-02-07,6259641,59,59_10,1,84864.0,84000.0,84890.0,84076.0,1970-01-01 23:21:16,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
2,2018-02-07,6255896,130,130_11,2,83706.0,82500.0,84193.0,82852.0,1970-01-01 23:00:52,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
3,2018-02-07,6261627,1,1_41,2,85557.0,84600.0,85866.0,84628.0,1970-01-01 23:30:28,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
4,2018-02-07,6248587,45A,45A_64,2,86338.0,84000.0,86283.0,84005.0,1970-01-01 23:20:05,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713928,2018-06-30,7106078,79A,79A_28,2,46169.0,43800.0,46662.0,43929.0,1970-01-01 12:12:09,...,7.2,80,0.0,0.0,20,801,Clouds,few clouds,0,0
713929,2018-06-30,7105090,25A,25A_273,1,48040.0,45120.0,48257.0,45074.0,1970-01-01 12:31:14,...,7.2,80,0.0,0.0,20,801,Clouds,few clouds,0,0
713930,2018-06-30,7112353,25A,25A_273,1,46240.0,43320.0,46503.0,43407.0,1970-01-01 12:03:27,...,7.2,80,0.0,0.0,20,801,Clouds,few clouds,0,0
713931,2018-06-30,7105149,238,238_15,2,45496.0,44100.0,45639.0,44084.0,1970-01-01 12:14:44,...,7.2,80,0.0,0.0,20,801,Clouds,few clouds,0,0
713932,2018-06-30,7111095,27,27_19,1,23312.0,19800.0,23402.0,19798.0,1970-01-01 05:29:58,...,3.6,80,0.0,0.0,0,800,Clear,sky is clear,0,0

drop rows which appended multiple weather values to each trip

In [200]:
df_trips.drop_duplicates(subset=['TRIPID','HOUR','DAYOFSERVICE'], inplace=True)

In [201]:
# drop unnecessary columns
df_trips = df_trips.drop(columns=['ACTUALTIME_DEP_HMS', 'dt_iso'])

In [202]:
df_trips.reset_index(drop=True)

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,HOUR,...,wind_speed,wind_deg,rain_1h,snow_1h,clouds_all,weather_id,weather_main,weather_description,snow_ice,heavy_precip
0,2018-02-07,6253783,68,68_80,1,87245.0,84600.0,87524.0,84600.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
1,2018-02-07,6259641,59,59_10,1,84864.0,84000.0,84890.0,84076.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
2,2018-02-07,6255896,130,130_11,2,83706.0,82500.0,84193.0,82852.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
3,2018-02-07,6261627,1,1_41,2,85557.0,84600.0,85866.0,84628.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
4,2018-02-07,6248587,45A,45A_64,2,86338.0,84000.0,86283.0,84005.0,23,...,7.2,220,0.0,0.0,75,300,Drizzle,light intensity drizzle,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688802,2018-06-30,7106078,79A,79A_28,2,46169.0,43800.0,46662.0,43929.0,12,...,7.2,80,0.0,0.0,20,801,Clouds,few clouds,0,0
688803,2018-06-30,7105090,25A,25A_273,1,48040.0,45120.0,48257.0,45074.0,12,...,7.2,80,0.0,0.0,20,801,Clouds,few clouds,0,0
688804,2018-06-30,7112353,25A,25A_273,1,46240.0,43320.0,46503.0,43407.0,12,...,7.2,80,0.0,0.0,20,801,Clouds,few clouds,0,0
688805,2018-06-30,7105149,238,238_15,2,45496.0,44100.0,45639.0,44084.0,12,...,7.2,80,0.0,0.0,20,801,Clouds,few clouds,0,0
688806,2018-06-30,7111095,27,27_19,1,23312.0,19800.0,23402.0,19798.0,5,...,3.6,80,0.0,0.0,0,800,Clear,sky is clear,0,0

In [203]:
df_trips.to_csv('/Users/rebeccadillon/git/dublin-bus-team-5/machinelearning/data/merged_weather_trips.csv', index=False)